## Assignment - 1 4/6/2024

In [1]:
# Substring Extraction:
# Original string
string = "sathvik,putta!"
# Extracting substring
substring = string[8:13]
print(substring)

putta

In [4]:
# String Manipulation 
a= "Sathvik Putta!"
# Print the character at index 1 of the string 'a'. In Python, indexing starts from 0.
# So, a[1] refers to the second character of the string.
print(a[1])

a

In [5]:
b = "Sathvik Putta!"
# Print the substring of 'b' starting from index 3 up to, but not including, index 7.
print(b[3:6])

hvi

In [2]:
# String Concatenation
# Original strings
str1 = "sathvik"
str2 = "putta"
# Concatenating strings
concatenated_string = str1 + ", " + str2 + "!"
print(concatenated_string)

sathvik, putta!

In [6]:
# Example for upper, lower and replace

a = "Sathvik, Putta!"
# Print the length of the string 'a'
print(len(a))
# Convert the string 'a' to uppercase
print(a.upper())
# Convert the string 'a' to lowercase
print(a.lower())
# Replace all occurrences of the character 'W' with 'F' in the string 'a'
print(a.replace("S", "P"))

15
SATHVIK, PUTTA!
sathvik, putta!
Pathvik, Putta!

In [7]:
t = "Sathvik Putta"
# Remove leading whitespace characters from the string "s"
stripped_text=t.lstrip()
print(stripped_text)

# Reassign the string "## Text Based Analysis" to the variable "s"
t="#########Sathvik Putta"
# Remove leading '#' characters from the string "s"
stripped_text=t.lstrip("#")
print(stripped_text)

Sathvik Putta
Sathvik Putta

In [11]:
# Example for find()
t = "Text Based Analysis"
# Find the index of the substring "Based" in the string 't
index = t.find("Based")
print(index)

# Example for find() with non-existing substring
index = t.find("")
# Find the index of an empty substring in the string 't'
print(index)

5
0

In [14]:
# String Replacement using Regex
import re
# Original string
string = "The quick brown fox jumps over the lazy dog"
# Pattern to find
pattern = r"\bfox\b"
# Replacing substring
replaced_string = re.sub(pattern, "cat", string)
print(replaced_string)

The quick brown cat jumps over the lazy dog

In [3]:
# Regular Expression (Regex) Match
import re
# Original string
string = "The quick brown fox jumps over the lazy dog"
# Pattern to match
pattern = r"fox|dog"
# Finding matches
matches = re.findall(pattern, string)
print(matches)

['fox', 'dog']

In [9]:
import re
# Original string
string = "The phone number is 123-456-7890. Please call at that number."
# Pattern to match
pattern = r"\b\d{3}-\d{3}-\d{4}\b"  # This pattern matches phone numbers in the format xxx-xxx-xxxx.
# Finding matches
matches = re.findall(pattern, string)
# Print the matches
print(matches)

['123-456-7890']

In [10]:
import re
# Original text containing numerical values
text = "The price of the product is $50.99. Offer valid till 2024-12-31."
# Pattern to match numerical values (including decimal numbers and dates)
pattern = r"\d+(\.\d+)?|\d{4}-\d{2}-\d{2}"
# Finding numerical values
numerical_values = re.findall(pattern, text)
print("Found numerical values:", numerical_values)

Found numerical values: ['.99', '', '', '']

In [9]:
# String Splitting using Regex
import re
# Original string
string = "apple,banana,orange,grape"
# Pattern for splitting
substrings = re.split(",", string)
print(substrings)

['apple', 'banana', 'orange', 'grape']